body {
    margin-top: 8%;
    margin-left: 40%;
}

#screen {
    padding: 0.2em 0.2em;
    width: 285px;
    height: 70px;
    text-align: right;
    outline: auto 2px black;
    font-size: 25px;
    font-family: Arial;
}
button {
    width: 70px;
    height: 70px;
    font-size: 20px;
}
